<article>
    <h1>{{ title }}</h1>

    {{# actor }}
    <section id="actor">
        <figure>
            <img src="/static/actors/actor_{{ ActorId }}.webp">
            <figcaption>{{ Name }}</figcaption>
        </figure>

        <dl>
            <dt>Gender</dt>
            <dd>{{ Gender }}</dd>
            <dt>Resumé</dt>
            <dd>Participated in {{ FilmographyCredits }} movies/tv shows.</dd>

            {{# BirthCountry }}
            <dt>Country of Origin</dt>
            <dd>{{ BirthCountry }}</dd>
            {{/ BirthCountry }}

            {{# BirthDate }}
            <dt>Birth date</dt>
            <dd>{{ BirthDate }}</dd>
            {{/ BirthDate }}

            {{# Age }}
            <dt>Age</dt>
            <dd>{{ Age }}</dd>
            {{/ Age }}

            <dt>Plays</dt>
            <dd>
                <a href="/characters/{{ Plays }}">
                    <figure id="smallFigure">
                        <img src="/static/characters/character_{{ Plays }}.webp">
                        <figcaption>{{ PlaysName }}</figcaption>
                    </figure>
                </a>
            </dd>
        </dl>
    </section>

    {{# hasAwards }}
    <section id="awards">
        <h2>Awards</h2>
        <ul>
            {{# ActorAwards }}
            <li>
                {{ AwardName }} given by {{ AwardEntity  }}
            </li>
            {{/ ActorAwards }}
        </ul>
    </section>
    {{/ hasAwards }}

    {{/ actor }}


    <section id="chars">
        <h2>Episodes</h2>
        <ul>
            {{# episodes }}
            <li>
                <figure>
                    <a id="imageAnchor" href="/episodes/{{ EpisodeNumber }}">
                        <img src="/static/episodes/episode_{{ EpisodeNumber }}.webp">
                    </a>
                    <a href="/episodes/{{ EpisodeNumber }}">
                        <figcaption>{{ EpisodeTitle }}</figcaption>
                    </a>
                </figure>
            </li>
            {{/ episodes }}
        </ul>
    </section>
</article>

<style>
 h1, h2, figcaption { text-align: center; }

 article { width: 100%; display: flex; flex-direction: column; place-items: center; gap: 1em; }

 section {
     background: #090909;
     border-radius: 10px;
 }

 #actor {
     width: 90%;
     padding: 1em;

     display: flex;
     flex-direction: row;
     place-items: center;
 }

 #actor figure {
     flex: 0 1 30%;

     margin: 0;
     padding: 1em;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 #actor figcaption { display: none; }

 #actor img {
     width: 40vw; height: 40vh;
     border-radius: 10px;
     object-fit: cover;
 }

 dl {
     flex: 1 1 70%;
     display: grid;
     grid-template-columns: 20% 80%;
     gap: 20px;
     align-items: center;
 }

 dt, dd {
     display: inline;
 }

 dt {
     font-size: 1.5em;
     font-weight: bold;
     text-align: right;
 }

 dd {
     font-size: 1.2em;
 }

 #smallFigure { width: 150px; }
 #smallFigure img { height: 200px; width: 100px; }
 #smallFigure figcaption { display: block; }
 /* GRID */
 #chars {
     padding: 1em;
     width: 100%;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 #chars ul { padding: 0; margin: 0; list-style: none; }
 #chars ul {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     gap: 1.2em;
 }

 #chars li {
     /* background: #090909; */
     background: rgb(32, 0, 0);
     border-radius: 10px;
 }

 #chars figure {
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding-bottom: 0.5em;
 }
 #chars figcaption { text-align: center;  font-size: 1em; padding-top: 0.5em;}

 #imageAnchor { display: block; width: 100%; }

 img {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     width: 100%;
     height: 200px;
     object-fit: cover; }

 #chars img { width: 200px;}

</style>
