<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <!-- https://github.com/jensimmons/cssremedy -->
        <link rel="stylesheet" href="/static/css/remedy.css">

        <link rel="icon" href="/static/favicon.ico">

        <style>
          body {
              display: grid;
              grid-template-columns: 200px 1fr;
              height: 100vh;
         
              font-family: 'roboto', sans-serif;
              color: rgb(242, 240, 237);
              background: rgb(14, 16, 17);
          }
         
          body > div {
              overflow: auto;
          }
         
          main {
              margin-left: 2em;
              margin-right: 2em;
          }
         
         
          nav {
              background: rgb(32, 0, 0); /*rgb(51, 2, 2);*/
              display: grid;
              place-items: center;
          }
         
          nav ul {
              list-style: none;
         
              margin: 0;
              padding: 0;
              width: 100%;
         
              display: flex;
              flex-direction: column;
          }
         
          nav li {
              flex: 1 1 3em;
          }
         
          nav a {
              text-decoration: none;
              font-weight: 600;
         
              display: grid;
              height: 100%;
              place-items: center;
         
              transition: all 0.1s ease;
          }
         
          nav a:hover {
              background:rgb(117, 41, 41);
              color: rgb(242, 240, 237);
          }
         
          a {
              color: rgb(214, 122, 127);
          }
         
          ul { list-style: none; }
         
          select, button, input {
              text-align: center;
              font-size: 1.5em;;
              border-radius: 5px;
              color: rgb(242, 240, 237);
              background: rgb(14, 16, 17);
         
              padding: 5px 1em;
          }
         
          button {
             color: rgb(214, 122, 127);
             background: rgb(117, 41, 41);
             font-weight: 600;
         }
        </style>

    </head>

    <body>

        <nav>
            <ul>
                <li><a href="/search">&#8981; Search</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/episodes">Episodes</a></li>
                <li><a href="/actors">Actors</a></li>
                <li><a href="/characters">Characters</a></li>
                <li><a href="/houses">Houses</a></li>
                <li><a href="/regions">Regions</a></li>
                <li><a href="/factions">Factions</a></li>
            </ul>
        </nav>

        <div>
            <main>
                {{> content}}
            </main>
        </div>

    </body>

</html>
