<h1>CHARACTER relations input</h1>

<form action="/characters/input-relations" method="post">
    <ul>
        <li>
            <label for="character">Choose character</label>
            <select id="character" name="CharId" required>
                <option value="">--Select Character--</option>

                {{# characters }}
                <option value="{{ CharId }}">{{ Name }}</option>
                {{/ characters }}
            </select>
        </li>
        <li id="loyal_toLi">
            <label for="loyal_to">Loyal to</label>
            <select id="loyal_to" name="loyal_to" required>
                <option value="">--Select House--</option>

                {{# houses }}
                <option value="{{ HouseId }}">{{ Name }}</option>
                {{/ houses }}
            </select>
            <button id="bt_loyal_to" type="button">+</button>
        </li>
        <div id="two-column">
            <li id="parentLi">
                <label for="parentOf">Parent of</label>
                <select id="parentOf" name="parentOf">
                    <option value="">--Select Character--</option>

                    {{# characters }}
                    <option value="{{ CharId }}">{{ Name }}</option>
                    {{/ characters }}
                </select>
                <button id="btParentOf" type="button">+</button>
            </li>
            <li id="spouseLi">
                <label for="spouseOf">Spouse of</label>
                <select id="spouseOf" name="spouseOf">
                    <option value="">--Select Character--</option>

                    {{# characters }}
                    <option value="{{ CharId }}">{{ Name }}</option>
                    {{/ characters }}
                </select>
                <button id="btSpouseOf" type="button">+</button>
            </li>
        </div>

    </ul>

    <button type="submit">Insert</button>
</form>

<script>
 const buttonLoyalTo  = document.getElementById("bt_loyal_to");
 const buttonParentOf = document.getElementById("btParentOf");
 const buttonSpouseOf = document.getElementById("btSpouseOf");

 buttonLoyalTo.addEventListener('click', (event) => {
     const parent = document.getElementById("loyal_toLi");
     const select = document.getElementById("loyal_to");

     const clone = select.cloneNode(true);
     parent.insertBefore(clone, buttonLoyalTo);
 });


 buttonParentOf.addEventListener('click', (event) => {
     const parent = document.getElementById("parentLi");
     const select = document.getElementById("parentOf");

     const clone = select.cloneNode(true);
     parent.insertBefore(clone, buttonParentOf);
 });

 buttonSpouseOf.addEventListener('click', (event) => {
     const parent = document.getElementById("spouseLi");
     const select = document.getElementById("spouseOf");

     const clone = select.cloneNode(true);
     parent.insertBefore(clone, buttonSpouseOf);
 });
</script>

<style>
 main, main ul, main li, form { display: flex; flex-direction: column; place-items: center; gap: 1em; }
 main ul { list-style: none; padding: 0;}

 main ul > li:first-child label { display: none; }
 #loyal_toLi { margin-top: 2em; }
 #parentLi, #spouseLi { flex: 1 1 50%; }

 #two-column { display: flex; margin-top: 2em; }

 label { font-size: 2em; font-weight: 600; width: 100%; text-align: center;}

 select, button {
     text-align: center;
     font-size: 1.5em;
     width: 90%;
     border-radius: 5px;
 }

 select {
     color: rgb(242, 240, 237);
     background: rgb(14, 16, 17);

     padding: 5px 1em;
 }

 button {
     color: rgb(214, 122, 127);
     background: rgb(117, 41, 41);
     font-weight: 600;
 }

 button[type="submit"] { width: calc(90% + 1em); margin-top: 1em; }
</style>
