<article>
    <h1>{{ title }}</h1>

    {{# character }}
    <section id="character">
        <figure>
            <img src="/static/characters/character_{{ CharId }}.webp">
            <figcaption>{{ Name }}</figcaption>
        </figure>

        <dl>
            {{# Title }}
            <dt>Title</dt>
            <dd>{{ Title }}</dd>
            {{/ Title }}

            {{# Alias }}
            <dt>Alias</dt>
            <dd>{{ Alias }}</dd>
            {{/ Alias }}

            {{# BirthDate }}
            <dt>Date of birth</dt>
            <dd>{{ BirthDate }} AC</dd>
            {{/ BirthDate }}

            {{# haveDeath }}
            <dt>Date of death</dt>
            <dd>{{ DeathDate }} AC</dd>
            {{/ haveDeath }}

            {{# aged }}
            <dt>Aged</dt>
            <dd>{{ aged }}</dd>
            {{/ aged }}
        </dl>

    </section>
    {{/ character }}

    {{# hasSpouses }}
    <section id="spouses">
        <h2>Spouses</h2>
        <ul class="grid">
            {{# spouses }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/characters/{{ CharId }}">
                        <img src="/static/characters/character_{{ CharId }}.webp">
                    </a>
                    <a href="/characters/{{ CharId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>

            {{/ spouses }}
        </ul>
    </section>
    {{/ hasSpouses }}

    {{# hasParents }}
    <section id="children">
        <h2>Parents</h2>
        <ul class="grid">
            {{# parents }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/characters/{{ CharId }}">
                        <img src="/static/characters/character_{{ CharId }}.webp">
                    </a>
                    <a href="/characters/{{ CharId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>

            {{/ parents }}
        </ul>
    </section>
    {{/ hasParents }}

    {{# hasChildren }}
    <section id="children">
        <h2>Children</h2>
        <ul class="grid">
            {{# children }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/characters/{{ CharId }}">
                        <img src="/static/characters/character_{{ CharId }}.webp">
                    </a>
                    <a href="/characters/{{ CharId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>

            {{/ children }}
        </ul>
    </section>
    {{/ hasChildren }}

    <section id="allegience">
        <h2>Allegience to</h2>
        <ul class="grid">
            {{# houses }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/houses/{{ HouseId }}">
                        <img src="/static/houses/house_{{ HouseId }}.svg">
                    </a>
                    <a href="/houses/{{ HouseId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>

            {{/ houses }}
        </ul>
    </section>

    {{# hasActors }}
    <section id="children">
        <h2>Played by</h2>
        <ul class="grid">
            {{# actors }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/actors/{{ ActorId }}">
                        <img src="/static/actors/actor_{{ ActorId }}.webp">
                    </a>
                    <a href="/actors/{{ ActorId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>

            {{/ actors }}
        </ul>
    </section>
    {{/ hasActors }}

    {{# hasEpisodes }}
    <section id="appearances">
        <h2>Appearances</h2>
        <ul class="grid">
            {{# episodes }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/episodes/{{ EpisodeNumber }}">
                        <img src="/static/episodes/episode_{{ EpisodeNumber }}.webp">
                    </a>
                    <a href="/episodes/{{ EpisodeNumber }}">
                        <figcaption>{{ EpisodeName }}</figcaption>
                    </a>
                </figure>
            </li>

            {{/ episodes }}
        </ul>
    </section>
    {{/ hasEpisodes }}

</article>

<style>
 h1, h2, figcaption { text-align: center; }

 article { width: 100%; display: flex; flex-flow: row wrap; justify-content: center; gap: 1em; }
 h1 { flex: 0 0 100%; }

 section {
     background: #090909;
     border-radius: 10px;
     padding: 1em;
 }

 #character {
     flex: 1 1 100%;
     /*width: 90%;*/
     padding: 1em;

     display: flex;
     flex-direction: row;
     place-items: center;
 }

 #character figure {
     flex: 0 1 30%;

     margin: 0;
     padding: 1em;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 #character img {
     width: 40vw; height: 40vh;
     border-radius: 10px;
     object-fit: cover;
 }

 dl {
     flex: 1 1 70%;
     display: grid;
     grid-template-columns: 20% 80%;
     gap: 20px;
     align-items: center;
 }

 dt, dd {
     display: inline;
 }

 dt {
     font-size: 1.5em;
     font-weight: bold;
     text-align: right;
 }

 dd {
     font-size: 1.2em;
 }

 #smallFigure { width: 100%; }
 #smallFigure img { height: 200px; width: 200px; }
 #smallFigure figcaption { display: block; }
 /* GRID */
 #spouses, #children {
     display: flex;
     flex-direction: column;
     place-items: center;
 }

 .grid { padding: 0; margin: 0; list-style: none; }
 .grid {
     width: 100%;
     /*display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); /* repeat(9, 1fr); */
     display: flex;
     flex-flow: row wrap;
     gap: 1.2em;
     justify-content: center;
 }

 .grid li {
     /* background: #090909; */
     background: rgb(32, 0, 0);
     border-radius: 10px;
 }

 .grid figure {
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding-bottom: 0.5em;
 }
 .grid figcaption { text-align: center;  font-size: 1em; padding-top: 0.5em;}

 .imageAnchor { display: block; width: 100%; }

 img {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     width: 100%;
     height: 200px;
     object-fit: cover; }

 #appearances img {
     width: 200px;
 }

 #allegience li { background: #090909; }
</style>
