<h1>CHARACTER input</h1>


<form action="/characters/input" method="post">
    <ul>
        <li>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="" required />
        </li>
        <li>
            <label for="Title">Title:</label>
            <input type="text" id="Title" name="Title" placeholder="" />
        </li>
        <li>
            <label for="Alias">Alias:</label>
            <input type="text" id="Alias" name="Alias" placeholder="" />
        </li>
        <li>
            <label for="Culture">Culture:</label>
            <input type="text" id="Culture" name="Culture" placeholder="" />
        </li>
        <li>
            <label for="Religion">Religion:</label>
            <input type="text" id="Religion" name="Religion" placeholder="" />
        </li>
        <li>
            <label for="BirthDate">Born Date:</label>
            <input type="number" min="0" max="129" id="BirthDate" name="BirthDate" placeholder="" />
        </li>
        <li>
            <label for="DeathDate">Death Date:</label>
            <input type="number" min="0" max="129" id="DeathDate" name="DeathDate" placeholder="0 means character is still alive" />
        </li>

    </ul>

    <button type="submit">Insert</button>
</form>

<style>
 main, main ul, main li { display: flex; flex-direction: column; place-items: center; }
 main li { align-items: start; }
 main ul { list-style: none; padding: 0; gap: 1em; }
 label { font-size: 2em; font-weight: 600; }
 h1 { margin-bottom: 10px; }

 input, button {
     font-size: 2em;
     width: 40vw;
     border-radius: 5px;
 }

 input {
     appearance: textfield;

     color: rgb(242, 240, 237);
     background: rgb(14, 16, 17);

     padding: 5px 1em;
 }

 button {
   margin-top: 1em;
   color: rgb(214, 122, 127);
   background:rgb(117, 41, 41);
   font-weight: 600;
 }

</style>
