<article>
    <h1>{{ title }}</h1>

    {{# episode }}
    <section id="episode">
        <figure>
            <img src="/static/episodes/episode_{{ EpisodeNumber }}.webp">
            <figcaption>{{ EpisodeTitle }}</figcaption>
        </figure>

        <dl>
            <dt>Director</dt>
            <dd>{{ Director }}</dd>
            <dt>Screenwriter</dt>
            <dd>{{ Screenwriter }}</dd>
            <dt>Release Date</dt>
            <dd>{{ ReleaseDate }}</dd>
            <dt>User Views</dt>
            <dd>{{ UserViews-int }}.{{ UserViews-frac }} million views</dd>
        </dl>
    </section>
    {{/ episode }}

    <section id="chars">
        <h2>Characters in Episode</h2>
        <ul>
            {{# characters }}
            <li>
                <figure>
                    <a id="imageAnchor" href="/characters/{{ CharId }}">
                        <img src="/static/characters/character_{{ CharId }}.webp">
                    </a>
                    <a href="/characters/{{ CharId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>
            {{/ characters }}
        </ul>
    </section>
</article>

<style>
 h1, h2, figcaption { text-align: center; }

 article { width: 100%; display: flex; flex-direction: column; place-items: center; gap: 1em; }

 section {
   background: #090909;
   border-radius: 10px;
 }

 #episode {
     width: 90%;
     padding: 1em;

     display: flex;
     flex-direction: row;
     place-items: center;
 }

 #episode figure {
     flex: 0 1 30%;

     margin: 0;
     padding: 1em;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 #episode figcaption { display: none; }

 #episode img {
     width: 40vw; height: 40vh;
     border-radius: 10px;
     object-fit: cover;
 }

 dl {
     flex: 1 1 70%;
     display: grid;
     grid-template-columns: 20% 80%;
     gap: 20px;
 }

 dt, dd {
     display: inline;
 }

 dt {
     font-size: 1.5em;
     font-weight: bold;
     text-align: right;
 }

 dd {
     font-size: 1.2em;
 }

 /* GRID */
 #chars {
     width: 90%;
     padding: 1em;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 #chars ul { padding: 0; margin: 0; list-style: none; }
 #chars ul {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); /* repeat(9, 1fr); */
     gap: 1.2em;
 }

 #chars li {
     /* background: #090909; */
     background: rgb(32, 0, 0);
     border-radius: 10px;
 }

 #chars figure {
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding-bottom: 0.5em;
 }
 #chars figcaption { text-align: center;  font-size: 1em; padding-top: 0.5em;}

 #imageAnchor { display: block; width: 100%; }

 img {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     width: 100%;
     height: 200px;
     object-fit: cover; }

</style>
