<h1>{{ title }}</h1>

<ul>
    {{# episodes }}
    <li>
        <figure>
            <a id="imageAnchor" href="/episodes/{{ EpisodeNumber }}">
                <img src="/static/episodes/episode_{{ EpisodeNumber }}.webp">
            </a>
            <a href="/episodes/{{ EpisodeNumber }}">
                <figcaption>{{ EpisodeTitle }}</figcaption>
            </a>
        </figure>
    </li>
    {{/ episodes }}
</ul>

<style>
 ul { padding: 0; list-style: none; }
 h1 { text-align: center; }

 main ul {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 1.2em;
 }

 main li {
     /* background: #090909; */
     background: rgb(32, 0, 0);
     border-radius: 10px;
 }

 figure {
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding-bottom: 1em;
 }
 figcaption { text-align: center; font-weight: bold; font-size: 1.4em; padding-top: 0.5em;}

 #imageAnchor { display: block; width: 100%; }

 img {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     width: 100%;
     height: 350px;
     object-fit: cover; }

</style>
