<h1>{{ title }}</h1>

<div class="twoColumn">
    <section>
        <h2>Blacks</h2>
        <ul>
            {{# blacks }}
            <li>
                <div class="house">
                    <a href="/houses/{{ HouseId }}">
                        <figure>
                            <img src="/static/houses/house_{{ HouseId }}.svg">
                            <figcaption>{{ Name }}</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            {{/ blacks }}
        </ul>
    </section>

    <section>
        <h2>Greens</h2>
        <ul>
            {{# greens }}
            <li>
                <div class="house">
                    <a href="/houses/{{ HouseId }}">
                        <figure>
                            <img src="/static/houses/house_{{ HouseId }}.svg">
                            <figcaption>{{ Name }}</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            {{/ greens }}
        </ul>
    </section>
</div>

<style>
 h1, h2, figcaption { text-align: center; }
 .twoColumn { display: grid; grid-template-columns: 1fr 1fr; gap: 1em; }

 ul {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 }

 figure {
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding: 1em;
 }

 figcaption { width: 50%; }

 img { width: 150px; }

 section {
   background: #090909;
   border-radius: 10px;
 }
</style>
