<h1>{{ title }}</h1>

<div id="darkenMe">
  <p>A humble rendering of the 2022 Tv show.</p>
  <p>Hope you enjoy the site as much we did in making it!</p>
  <p>Info, images and art sources:
    <a href="https://awoiaf.westeros.org">A Wiki of Ice and Fire</a>,
    <a href="https://gameofthrones.fandom.com/">Fandom Wiki</a>,
    <a href="https://www.imdb.com/title/tt11198330/">IMDb - House of the Dragon</a>
  </p>
</div>

<section id="rowFlex">
  <h3>Links for input</h3>
  <ul>
    <li><a href="/regions/input">REGION input</a></li>
    <li><a href="/houses/input">HOUSE input</a></li>
    <li><a href="/characters/input">CHARACTER_ input</a></li>
    <li><a href="/characters/input-relations">PARENT_OF, SPOUSE_OF e LOYAL_TO input</a></li>
  </ul>
</section>
<article>
  <div class="flexMe">
    <section>
      <h2>Entries per Table in Database</h2>
      <table>
        <thead>
          <tr>
            <th>Table</th>
            <th>Number of entries</th>
          </tr>
        </thead>
        <tbody>
          {{# counts }}
          <tr>
            <td>{{ Table }}</td>
            <td class="centerMe">{{ nEntries }}</td>
          </tr>
          {{/ counts }}
        </tbody>
      </table>
    </section>

    <section>
      <h2>Number of Vassals per House</h2>
      <table>
        <thead>
          <tr>
            <th>House</th>
            <th>Number Vassals</th>
          </tr>
        </thead>
        <tbody>
          {{# nVassals }}
          <tr>
            <td><a href="/houses/{{ HouseId }}">{{ Name }}</a></td>
            <td class="centerMe">{{ NVassals }}</td>
          </tr>
          {{/ nVassals }}
        </tbody>
      </table>
    </section>

  </div>


  <section>
    <h2>Actor participation</h2>
    <table>
      <thead>
        <tr>
          <th>Actor</th>
          <th>Number Episodes</th>
        </tr>
      </thead>
      <tbody>
        {{# actorParticipation }}
        <tr>
          <td><a href="/actors/{{ ActorId }}">{{ Name }}</a></td>
          <td class="centerMe">{{ Participation }}</td>
        </tr>
        {{/ actorParticipation }}
      </tbody>
    </table>
  </section>

</article>

<style>
  p { margin: 0.5em; }
  #darkenMe {
      background: #090909;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
  }
  
  section {
      background: #090909;
      border-radius: 10px;
      padding: 1em;
  
      display: flex;
      flex-direction: column;
      place-items: center;
  }
  
  
  
  h2 { margin-top: 0; }
  
  main, main ul, main li { display: flex; flex-direction: column; place-items: center; }
  main li { align-items: start; }
  main ul { list-style: none; padding: 0; gap: 1em; }
  label { font-size: 2em; font-weight: 600; }
  h1 { margin-bottom: 10px; }
  
  article {
      display: flex;
      flex-direction: row wrap;
      justify-content: center;
      gap: 1em;
  }
  
  .flexMe {
      display: flex;
      gap: 1em;
      flex-direction: column;
  }
  
  thead { font-size: 1.2em; }
  td { font-size: 1.1em; }
  
  table {
      border-collapse: separate;
      border-spacing: 0 10px;
      margin-top: -10px; /* correct offset on first border spacing if desired */
  }
  td {
      border: solid 1px rgb(14, 16, 17);
      border-style: solid none;
      padding: 5px;
      background: rgb(14, 16, 17);
  }
  td:first-child {
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
  }
  
  .centerMe { text-align: center; }
  
  #rowFlex ul {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1em;
  }
  
  #rowFlex { margin-bottom: 1em; }
  
  #rowFlex li {
      background: rgb(14, 16, 17);
      padding: 1em;
      border-radius: 1em;
  }
  
  h3 {
      margin-top: 0;
  }
</style>
