<h1>{{ title }}</h1>

<form action="/houses/input" method="post">
    <ul>
        <li>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="House Tyrell" required />
        </li>
        <li>
            <label for="Castle">Castle:</label>
            <input type="text" id="Castle" name="Castle" placeholder="Highgarden" required />
        </li>
        <li>
            <label for="Title">Title:</label>
            <input type="text" id="Title" name="Title" placeholder="Defender of the Marches" required />
        </li>
        <li>
            <label for="CoatOfArms">CoatOfArms:</label>
            <input type="text" id="CoatOfArms" name="CoatOfArms" placeholder="A golden rose, on a green field" required />
        </li>
        <li>
            <label for="Motto">Motto:</label>
            <input type="text" id="Motto" name="Motto" placeholder="Growing Strong" />
        </li>
        <li>
            <label for="OverlordedBy">Overlord:</label>
            <select id="OverlordedBy" name="OverlordedBy" required>
                <option value="">--Select Overlord--</option>
                {{# houses }}
                <option value="{{ HouseId }}">{{ Name }}</option>
                {{/ houses }}
            </select>
        </li>
        <li>
            <label for="Faction">Faction:</label>
            <select id="Faction" name="Faction" required>
                <option value="">--Select a Faction--</option>
                <option>Blacks</option>
                <option>Greens</option>
                <option>Neutral</option>
            </select>
        </li>

    </ul>

    <button type="submit">Insert</button>
</form>

<style>
 main, main ul, main li { display: flex; flex-direction: column; place-items: center; }
 main li { align-items: start; }
 main ul { list-style: none; padding: 0; gap: 1em; }
 label { font-size: 2em; font-weight: 600; }
 h1 { margin-bottom: 10px; }

 input, button {
     font-size: 2em;
     width: 40vw;
     border-radius: 5px;
 }

 input {
     appearance: textfield;

     color: rgb(242, 240, 237);
     background: rgb(14, 16, 17);

     padding: 5px 1em;
 }

 button {
     margin-top: 1em;
     color: rgb(214, 122, 127);
     background:rgb(117, 41, 41);
     font-weight: 600;
 }

</style>
