<h1>{{ title }}</h1>

<ul>
    {{# houses }}
    <li>
        <div class="house">
            <a href="/houses/{{ HouseId }}">
                <figure>
                    <img src="/static/houses/house_{{ HouseId }}.svg">
                    <figcaption>{{ Name }}</figcaption>
                </figure>
            </a>
        </div>

        <div class="notHouse">
            <p>Overlord</p>
            <a href="/houses/{{ OverlordedBy }}">
                <figure>
                    <img src="/static/houses/house_{{ OverlordedBy }}.svg">
                    <figcaption>{{ OverlordedByName }}</figcaption>
                </figure>
            </a>
        </div>

        <div class="notHouse">
            <p>Faction</p>
            <a href="/factions">
                <figure>
                    <img src="/static/factions/faction_{{ Faction }}.svg">
                    <figcaption>{{ Faction }}</figcaption>
                </figure>
            </a>
        </div>
    </li>
    {{/ houses }}
</ul>

<style>
 p { font-weight: bold; text-align: center; margin-bottom: 0;}

 h1 { text-align: center; }
 ul { padding: 0; list-style: none; }
 figure {
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding: 1em;
 }
 figcaption {
     height: 19px; /* forcing size for the empty faction */
     margin-top: 1em;
     text-align: center;
 }

 main ul {
     display: flex;
     flex-direction: column;
     place-items: center;
     gap: 1em;
 }

 main li {
     width: 50vw;
     background: #090909;
     border-radius: 1em;

     display: grid;
     grid-template-columns: 30vw 10vw 10vw;
     place-items: center;
 }

 .house img { width: 10vw; }
 .notHouse img { width: 5vw; }

</style>
