<article>
    <h1>{{ title }}</h1>

    {{# house }}
    <section>
        <figure>
            <img src="/static/houses/house_{{ HouseId }}.svg">
            <figcaption>{{ CoatOfArms }}</figcaption>
        </figure>

        <dl>
            <dt>Region</dt>
            <dd><a href="/regions/{{ HouseRegionId }}">{{ HouseRegionName }}</a></dd>
            <dt>Castle</dt>
            <dd>{{ Castle }}</dd>
            <dt>Title</dt>
            <dd>{{ Title }}</dd>
            {{# Motto  }}
            <dt>Motto</dt>
            <dd>{{ Motto }}</dd>
            {{/ Motto  }}
        </dl>
    </section>

    <section>
        <h2>Overlord</h2>
        <a href="/houses/{{ OverlordedBy }}">
            <figure>
                <img src="/static/houses/house_{{ OverlordedBy }}.svg">
                <figcaption>{{ OverlordedByName }}</figcaption>
            </figure>
        </a>

    </section>

    <section>
        <h2>Faction</h2>
        <a href="/factions">
            <figure>
                <img src="/static/factions/faction_{{ Faction }}.svg">
                <figcaption>{{ Faction }}</figcaption>
            </figure>
        </a>
    </section>
    {{/ house }}

    {{# hasCharacters }}
    <section id="elements">
        <h2>House Elements</h2>
        <ul class="grid">
            {{# characters }}
            <li>
                <a class="imageAnchor" href="/characters/{{ CharId }}">
                    <figure>

                        <img src="/static/characters/character_{{ CharId }}.webp">


                        <figcaption>{{ Name }}</figcaption>

                    </figure>
                </a>
            </li>
            {{/ characters }}
        </ul>
    </section>
    {{/ hasCharacters }}

    {{# hasVassals }}
    <section id="children">
        <h2>Vassals</h2>
        <ul class="grid">
            {{# vassals }}
            <li>
                <figure>
                    <a class="imageAnchor" href="/houses/{{ HouseId }}">
                        <img src="/static/houses/house_{{ HouseId }}.svg">
                    </a>
                    <a href="/houses/{{ HouseId }}">
                        <figcaption>{{ Name }}</figcaption>
                    </a>
                </figure>
            </li>
            {{/ vassals }}
        </ul>
    </section>
    {{/ hasVassals }}



</article>

<style>
 h1, h2, figcaption {
     text-align: center;

 }

 article {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 1em;
 }

 h1 {
     width: 100%;
 }

 h2 { margin-bottom: 0; }

 section {
     flex: 1 1 40%;

     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
 }

 section:first-of-type {
     flex-direction: row;
     place-items: center;
     flex: 0 0 100%;

     background: #090909;
     border-radius: 1em;

 }

 figure {
     flex: 0 1 30%;

     margin: 0;
     padding: 1em;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 figcaption {
     margin-top: 1em;
     width: 50%;
 }

 section:first-of-type img {
     width: 20vw;
 }

 img {
     width: 200px;
 }

 dl {
     flex: 1 1 70%;
     display: grid;
     grid-template-columns: 20% 80%;
     gap: 20px;
 }

 dt, dd {
     display: inline;
 }

 dt {
     font-size: 1.5em;
     font-weight: bold;
     text-align: right;
 }

 dd {
     font-size: 1.2em;
 }

 .grid { padding: 0; margin: 0; list-style: none; }
 .grid {
     /*width: 100%;
     display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));  /* repeat(9, 1fr); */

     display: flex;
     flex-flow: row wrap;
     justify-content: center;

     gap: 1.2em;

     background: #090909;
 }

 .grid li {
     border-radius: 10px;
 }

 .grid figure {
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-bottom: 0.5em;
 }
 .grid figcaption { text-align: center;  font-size: 1em; padding-top: 0.5em;}

 .imageAnchor { display: block; width: 100%; }

 .grid img {
     border-radius: 10px;


     object-fit: cover;
 }

 #elements {
     place-items: center;
 }

 #elements img {
   aspect-ratio: 2 / 3;
 }
</style>
