<article>
    <h1>{{ title }}</h1>

    <section id="grid">

        <ul id="map">
            <div id="overlay">
                {{# regions }}
                <li id="region{{ RegionId }}">
                    <a title="Region" href="/regions/{{  RegionId }}">{{ Name }}</a>
                    <a title="{{ RuledByName }}" href="/houses/{{ RuledBy }}">
                        <figure>
                            <img src="/static/houses/house_{{ RuledBy }}.svg" />
                            <figcaption>{{ RuledByName }}</figcaption>
                        </figure>
                    </a>
                </li>
                {{/ regions }}
            </div>
        </ul>

    </section>
</article>

<style>
 #map a {
     text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black, 0 0 10px black;
     font-weight: bold;
     font-size: 1.05em;
 }

 img {
     width: 90px;
 }
 figcaption { display: none; }

 figure {
     margin: 2px;
     text-align: center;
 }

 /**************** Placing each region *********************/
 #region1 { left: 40%; top: 15%; }
 #region2 { left:  2%; top: 38%; }
 #region3 { left: 38%; top: 42%; }
 #region4 { left: 62%; top: 35%; }
 #region5 { left: 15%; top: 53%; }
 #region6 { left: 62%; top: 52%; }
 #region7 { left: 20%; bottom: 15%; }
 #region8 { left: 55%; bottom: 17%; }
 #region9 { left: 38%; bottom:  3%; }

 /**************** Properties for all regions *********************/
 #map li {

     list-style: none;

     position: absolute;

     display: flex;
     flex-direction: column;
     place-items: center;
     justify-content: center;
 }

 /**************** Placing the map *********************/
 #map {
     position: relative;
     margin: 0;
     padding: 0;

     width: 500px;
     height: 886px;

     background: center / 100% no-repeat url("/static/regions/westeros.webp");
 }

 #overlay {
     width: 100%;
     height: 100%;
     background: center / 100% no-repeat url("/static/regions/westeros-overlay.webp");
     opacity: 0;
     transition: opacity 0.3s ease-out;
 }

 #overlay:hover {
     opacity: 1;
 }

 /**************** Centering the map *********************/

 #grid {
     display: grid;
     place-items: center;
 }

 h1 {
     text-align: center;
     margin-bottom: 0;
 }

 article {
     height: max(886px, 100vh);
     display: flex;
     flex-direction: column;
 }
</style>
