<h1>{{ title }}</h1>

<form action="/regions/input" method="post">
    <ul class="container">
        <li>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="The North" required />
        </li>
        <li>
            <label for="PopulationName">Name of Population:</label>
            <input type="text" id="PopulationName" name="PopulationName" placeholder="Northman" required />
        </li>
        <li>
            <label for="BastardsSurname">Bastards Surname:</label>
            <input type="text" id="BastardsSurname" name="BastardsSurname" placeholder="Snow" required />
        </li>
        <li>
            <label for="RuledBy">Regent House:</label>
            <select id="RuledBy" name="RuledBy" required>
                <option value="">--Select House--</option>
                {{# houses }}
                <option value="{{ HouseId }}">{{ Name }}</option>
                {{/ houses }}
            </select>
        </li>
    </ul>
    <ul id="addHere">
        <label for="PlaceOfNote">Places of Note:</label>
        <li>
            <input type="text" id="PlaceOfNote" name="PlaceOfNote" placeholder="The Barrowlands" required />
        </li>

        <li id="bt">
            <button type="button">+</button>
        </li>
    </ul>


    <button type="submit">Insert</button>
</form>



<script>
 const parent = document.getElementById("addHere");
 const button = document.getElementById("bt");

 button.addEventListener('click', (event) => {
     const newInput = document.createElement("input");

     newInput.setAttribute("type","text");
     newInput.setAttribute("name", "PlaceOfNote");
     newInput.setAttribute("placeholder","The Barrowlands");
     newInput.setAttribute("required","");

     const newLineItem = document.createElement("li");
     newLineItem.appendChild (newInput);

     parent.insertBefore(newLineItem, button);
     // parent.appendChild(newInput);
 });
</script>

<style>
 main, main ul, main li { display: flex; flex-direction: column; place-items: center; }
 main li { align-items: start; }
 main ul { list-style: none; padding: 0; gap: 1em; }
 label { font-size: 2em; font-weight: 600; }
 h1 { margin-bottom: 10px; }

 input, button {
     font-size: 2em;
     width: 40vw;
     border-radius: 5px;
 }

 input {
     appearance: textfield;

     color: rgb(242, 240, 237);
     background: rgb(14, 16, 17);

     padding: 5px 1em;
 }

 button {
     margin-top: 1em;
     color: rgb(214, 122, 127);
     background:rgb(117, 41, 41);
     font-weight: 600;
 }

</style>
