<article>
    <h1>{{ title }}</h1>

    {{# region }}
    <section>
        <figure>
            <img class="target" src="/static/regions/region_{{region.RegionId}}.webp" alt="{{ Name }}" />
            <figcaption>{{ Name }}</figcaption>
        </figure>

        <dl>
            <dt>Regent House</dt>
            <dd><a href="/houses/{{ RuledBy }}">
                <figure id="ruler">
                    <img src="/static/houses/house_{{ RuledBy }}.svg">
                    <figcaption>{{ RuledByName }}</figcaption>
                </figure>

            </a></dd>

            <dt>Population's name</dt>
            <dd>{{ PopulationName }}</dd>

            <dt>Surname for Bastards:</dt>
            <dd>{{ BastardsSurname }}</dd>
        </dl>
    </section>

    <section id="darkenMe">
        <h2>Places of note</h2>
        <ul>
            {{# PlaceOfNote }}
            <li> {{ place }}</li>
            {{/ PlaceOfNote }}
        </ul>
    </section>
    {{/ region }}

    <section id="children">
        <h2>Houses</h2>
        <ul class="grid">
            {{# houses }}
            <li>
                <a class="imageAnchor" href="/houses/{{ HouseId }}">
                <figure>

                        <img src="/static/houses/house_{{ HouseId }}.svg">

                        <figcaption>{{ Name }}</figcaption>

                </figure>
                                    </a>
            </li>

            {{/ houses }}
        </ul>
    </section>

</article>

<style>
 #ruler {
     display: flex;
     place-items: center;
     flex-direction: row;
 }
 #ruler img { width: 5vw; }
 #ruler figcaption { margin: 0; }

 h1, h2, figcaption {
     text-align: center;

 }

 article {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 1em;
 }

 h1 {
     width: 100%;
 }

 section:first-of-type {
     flex: 0 0 100%;

     display: flex;
     flex-wrap: wrap;
     place-items: center;

     background: #090909;
     border-radius: 1em;

 }

 figure {
     flex: 0 1 30%;

     margin: 0;
     padding: 1em;

     display: flex;
     flex-direction: column;
     place-items: center;
 }

 figcaption {
     margin-top: 1em;
     width: 50%;
 }

 section:first-of-type img {
     width: 20vw;
 }

 img {
     width: 10vw;
     border-radius: 1em;
 }

 dl {
     flex: 1 1 70%;
     display: grid;
     grid-template-columns: 20% 80%;
     gap: 20px;
 }

 dt, dd {
     display: flex;
     place-items: center;
 }

 dt {
     font-size: 1.3em;
     font-weight: 600;
     text-align: right;
 }

 dd {
     font-size: 1.2em;
 }

 .grid { padding: 0; margin: 0; list-style: none; }
 .grid {
     width: 100%;
     /* display: grid;
        grid-template-columns:  repeat(6, 1fr); /* repeat(auto-fit, minmax(250px, 1fr));   */
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     gap: 1.2em;
 }

 .grid li {
     background: #090909;
     border-radius: 10px;
 }

 .grid figure {
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     place-items: center;
     padding-bottom: 0.5em;
 }
 .grid figcaption { text-align: center;  font-size: 1em; padding-top: 0.5em;}

 .imageAnchor { display: block; width: 100%; }

 .grid img {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     object-fit: cover;
 }

 #darkenMe {
     background: #090909;
     flex: 0 0 100%;
     border-radius: 1em;

     display: flex;
     flex-direction: column;
     place-items: centeR;
 }

 #darkenMe li { font-size: 1.1em; padding: 0.2em; }
</style>
