<h1>{{ title }}</h1>

<article>
    <section>
        <table>
            <thead>
                <tr>
                    <th>{{ TableHeader }}</th>
                </tr>
            </thead>
            <tbody>
                {{# entities }}
                <tr>
                    <td><a href="/{{ endpoint }}/{{ Id }}">{{ Name }}</a></td>
                </tr>
                {{/ entities }}
            </tbody>
        </table>
    </section>

</article>

<style>
 section {
     background: #090909;
     border-radius: 10px;
     padding: 1em;
 
     display: flex;
     flex-direction: column;
     place-items: center;
 }
 
 p { margin-bottom: 0; }
 
 h2 { margin-top: 0; }
 
 main, main ul, main li { display: flex; flex-direction: column; place-items: center; }
 main li { align-items: start; }
 main ul { list-style: none; padding: 0; gap: 1em; }
 label { font-size: 2em; font-weight: 600; }
 h1 { margin-bottom: 10px; }
 
 article {
     display: flex;
     flex-direction: row wrap;
     justify-content: center;
     gap: 1em;
 }
 
 .flexMe {
     display: flex;
     gap: 1em;
     flex-direction: column;
 }
 
 thead { font-size: 1.2em; }
 td { font-size: 1.1em; }
 
 table {
     border-collapse: separate;
     border-spacing: 0 10px;
     margin-top: -10px; /* correct offset on first border spacing if desired */
 }
 td {
     border: solid 1px rgb(14, 16, 17);
     border-style: solid none;
     padding: 5px;
     background: rgb(14, 16, 17);
 }
 td:first-child {
     border-left-style: solid;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }
 td:last-child {
     border-right-style: solid;
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
 }
 
 .centerMe { text-align: center; }
</style>
