<h1>{{ title }}</h1>
<article>

  <section>
    <h2>Search Episodes</h2>

    <form method="get" action="/episodes/search">
      <p>Inclusive OR search</p>
      <ul>
        <li>
          <label for="director">Director:</label>
          <input  id="director" type="search" name="director" placeholder="Miguel Sapochnik" />
        </li>
        <li>
          <label for="screenwriter">Screenwriter:</label>
          <input  id="screenwriter" type="search" name="screenwriter" placeholder="Ryan Condal" />
        </li>
      </ul>

      <button type="submit">Search</button>
    </form>
  </section>

  <section>
    <h2>Search Actors</h2>

    <form  method="get" action="/actors/search">
      <p>Inclusive OR search</p>
      <ul>
        <li>
          <label for="nameActor">Name:</label>
          <input  id="nameActor" type="search" name="name" placeholder="Leo" />
        </li>
        <li>
          <label for="birthcountry">Country of birth:</label>
          <input  id="birthcountry" type="search" name="birthcountry" placeholder="Wales" />
        </li>
        <li>
          <label for="awardname">Name of Award:</label>
          <input  id="awardname" type="search" name="awardname" placeholder="Actor" />
        </li>
        <li>
          <label for="awardentity">Entity that gives Award:</label>
          <input  id="awardentity" type="search" name="awardentity" placeholder="Festival" />
        </li>
      </ul>

      <button type="submit">Search</button>
    </form>
  </section>

  <section>
    <h2>Search Characters</h2>

    <form method="get" action="/characters/search">
      <p>Inclusive OR search</p>
      <ul>
        <li>
          <label for="nameChar">Name:</label>
          <input  id="nameChar" type="search" name="name" placeholder="Targaryen" />
        </li>
        <li>
          <label for="titleChar">Title:</label>
          <input  id="titleChar" type="search" name="title" placeholder="Prince" />
        </li>
        <li>
          <label for="alias">Alias:</label>
          <input  id="alias" type="search" name="alias" placeholder="Rogue" />
        </li>
      </ul>

      <button type="submit">Search</button>
    </form>
  </section>

  <section>
    <h2>Search Houses</h2>

    <form method="get" action="/houses/search">
      <p>Inclusive OR search</p>
      <ul>
        <li>
          <label for="nameHouse">Name:</label>
          <input  id="nameHouse" type="search" name="name" placeholder="Hightower" />
        </li>
        <li>
          <label for="castle">Castle:</label>
          <input  id="castle" type="search" name="castle" placeholder="Winterfell" />
        </li>
        <li>
          <label for="titleHouse">Title:</label>
          <input id="titleHouse" type="search" name="title" placeholder="Warden" />
        </li>
        <li>
          <label for="coatarms">Coat of Arms:</label>
          <input  id="coatarms" type="search" name="coatarms" placeholder="Gold" />
        </li>
        <li>
          <label for="motto">Motto:</label>
          <input  id="motto" type="search" name="motto" placeholder="Duty" />
        </li>
      </ul>

      <button type="submit">Search</button>
    </form>
  </section>

  <section>
    <h2>Search Regions</h2>

    <form method="get" action="/regions/search">
      <ul>
        <li>
          <label for="place">Place of Note:</label>
          <input  id="place" type="search" name="place" placeholder="Blackwater" />
        </li>
      </ul>

      <button type="submit">Search</button>
    </form>
  </section>

</article>

<style>
  section {
      background: #090909;
      border-radius: 10px;
  
      padding: 1em;
  }
  
  h2 { margin-top: 0; }
  
  main, main ul, main li { display: flex; flex-direction: column; place-items: center; }
  main li { align-items: start; }
  main ul { list-style: none; padding: 0; gap: 1em; }
  label { font-size: 2em; font-weight: 600; }
  h1 { margin-bottom: 10px; }
  
  input, button {
      font-size: 2em;
      width: 30vw;
      border-radius: 5px;
  }
  
  input {
      appearance: textfield;
  
      color: rgb(242, 240, 237);
      background: rgb(14, 16, 17);
  
      padding: 5px 1em;
  }
  
  button {
      margin-top: 1em;
      color: rgb(214, 122, 127);
      background:rgb(117, 41, 41);
      font-weight: 600;
  }
  
  
  article {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1em;
  }
</style>
